/*@-webkit-keyframes blink {
        0%   { background:blue; }
        50%  { background:orange;}
        100% { background:blue; }
}
@-moz-keyframes blink {
        0%   { background:blue; }
        50%  { background:orange;}
        100% { background:blue; }
}

@-ms-keyframes blink {
        0%   { background:blue; }
        50%  { background:orange;}
        100% { background:blue; }
} 

.signin-body {
    -webkit-animation: blink 1s infinite;
     -moz-animation: blink 1s infinite;
     -ms-animation: blink 1s infinite;    
}
*/

body {
    font-family: "Lato" sans-serif;
    background-color:#B6D5E1;
    /* E8F1F5 */
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.signin-contain {
    background-color:#65799B;
    margin-top:160px;
    padding-bottom:60px;
    padding-top:30px;
}

#titler {
    text-align: center;
    font-size: 100px;
    font-weight:900;
    color:#fff;
    margin-bottom: 40px;

}

.welcome {
    margin-top:150px;
    background-color:#EB786B;
    padding:20px 20px;
}

.welcome.create {
    margin-top:50px;
}

.box {
    text-align: center;
    color:#9B9B9B;
    font-weight: 400;
    background-color:#fff;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 25px 25px 25px;
}

.box:hover {
    background-color:#65799B;
    color:#fff;
    transition: background-color 0.4s ease-in-out;
}

.box img {
    display: inline-block;
    margin-bottom:25px;
    height:200px;
    width:200px;
}

.name {
    text-align: center;
    color:#9B9B9B;
    font-weight: 400;
}

#go {
    background-color:#61BBB6;
    border:none;
    color:#fff;
    font-size:25px;
}

#go:hover {
    background-color:#EB786B;
    color:#fff;
    transition: 1s background-color ease;
}

#go:active:focus {
    background-color:#EB786B;
    color:#fff;
    outline:none;
}

#go:focus {
    background-color:#EB786B;
    color:#fff;
    outline:none;
}

#no-account {
    background-color:#34495E;
    border-color:#34495E;
    color:#fff;
    font-size:15px;
}

#no-account:hover {
    background-color:#29435C;
    border-color:#29435C;
    color:#fff;
    transition: 1s background-color ease;
}

#no-account:active:focus {
    background-color:#29435C;
    border-color:#29435C;
    color:#fff;
    outline:none;
}

#no-account:focus {
    background-color:#29435C;
    border-color:#29435C;
    color:#fff;
    outline:none;
}

@media (max-width: 1067px) {
  video {
    display: none; } 
    
    
}

@media (max-width: 600px) {
    #titler {
        font-size:75px;
    }
}